a:hover, a:focus{
  color:#3CDBC0;
}

#btn-add-gift-card:active,
#btn-add-gift-card:focus,
#btn-add-gift-card:hover,
#cart-coupon-add:active,
#cart-coupon-add:focus,
#cart-coupon-add:hover,
.body-order-placed #order-continue-shopping:active,
.body-order-placed #order-continue-shopping:focus,
.body-order-placed #order-continue-shopping:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.body-order-placed [disabled]#order-continue-shopping,
[disabled]#btn-add-gift-card,
[disabled]#cart-coupon-add,
[disabled].btn-success{
    background: #84e8d7;
}

.active#btn-add-gift-card,
.active#cart-coupon-add,
.active.btn-success,
.body-order-placed .active#order-continue-shopping,
#btn-add-gift-card,
#cart-coupon-add,
.body-order-placed #order-continue-shopping,
.btn-success{
    background: #3cdbc0!important;
    border-right:2px solid #31b49e;
    border-bottom:2px solid #31b49e;
}

.client-pre-email .emailInfo {
    display: block;
    width: 95%;
    max-width: 575px;
    padding: 15px;
}
.client-pre-email .emailInfo h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 13.5px;
}
.client-pre-email .emailInfo .icon-ok,
.client-pre-email .emailInfo h3 {
    color:#3cdbc0;
}

.client-pre-email .emailInfo ul li {
    font-size: 13px;
    margin-bottom: 10px;
    color:#7b7b7b;
}

.mini-cart .quantity{
    background: #3cdbc0;
}
.body-order-placed .orderplaced .containerPage .myorders-list .ordergroup .order-details .items .cart-items td .best-price,
.body-order-placed .orderplaced .containerPage .myorders-list .ordergroup .order-details .items .cart-items td .total-selling-price,
.mini-cart .price{
    color: #3cdbc0;
}

.btn-small [class^="icon-"], .btn-small [class*=" icon-"]{display: none;}

.cart-fixed .summary-cart-template-holder {
  min-height: 100px;
}

.container-cart .cart-items .product-item.hide {
  display: block;
}

#termos, #newsletter-check {
    display: block;
    height: 30px;
    width: 315px;
    position: absolute;
    bottom: 0;
  }
  #termos *, #newsletter-check * {
    display: inline-block;
    vertical-align: top;
  }
  #termos input, #newsletter-check input {
    margin-top: 0;
    display: none;
  }
  #termos label, #newsletter-check label {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #aaa;
    position: relative;
    cursor: pointer;
    maRgin-right: 5px;
  }
  #termos input[type="checkbox"] + label, #newsletter-check input[type="checkbox"] + label {
    content: none;
  }
  #termos input[type="checkbox"]:checked + label:before, #newsletter-check input[type="checkbox"]:checked + label:before {
    content: "";
    display: block;
    background-color: #3cdbc0;
    margin: 1px;
    width: 8px;
    height: 8px;
  }
  #termos label:after, #newsletter-check label:after {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #3cdbc0;
  }
  #termos span, #newsletter-check span {
    color: #9c9c9c;
    font-size: 10.5px;
    padding-top: 2px;
    letter-spacing: -0.1px;
  }
  #termos span a, #newsletter-check span a {
    color: #3cdbc0;
    font-size: 10.5px;
  }
  
.body-order-form #termos,
.body-order-form #newsletter-check{
	position:static; 
	height: 20px;
}
.body-order-form #termos {
	margin-top: 10px;
}
.container-cart .cart-items td,
.icon-remove:before{
  color: #3cdbc0!important;
}
.icon-plus-sign:after, .icon-plus-sign:before,
.icon-minus-sign:before {
  background: #3cdbc0!important;
}

form.form-step p.newsletter {
  padding-bottom: 5px!important;
}
p.newsletter input {
  display: none;
}
p.newsletter label {
  width: 12px;
  min-width: 0;
  height: 12px;
  min-height: 0;
  padding: 0;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #aaa;
  position: relative;
  cursor: pointer;
  margin-right: 4px;
}
p.newsletter input[type="checkbox"] + label {
  content: none;
}
p.newsletter input[type="checkbox"]:checked + label:before {
  content: "";
  display: block;
  background-color: #3cdbc0;
  margin: 1px;
  width: 8px;
  height: 8px;
  font-family: arial;
}
p.newsletter label:after {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #3cdbc0;
  font-family: arial;
}
p.newsletter span {
  color: #9c9c9c;
  font-size: 10.5px;
  padding-top: 2px;
  letter-spacing: 0.1px;
}
::-moz-selection {
	background: #3cdbc0;
	color: #fff;
	text-shadow: none
}

::selection {
	background: #3cdbc0;
	color: #fff;
	text-shadow: none
}
.full-cart .summary-totalizers .cart-reset-postal-code {
  color: #3cdbc0;
}
table.cart-gift-items{
  margin-bottom: 20px;
}
.forms.coupon-column{
  float: none!important;
  display: inline-block;
}
.icon-check-sign, .icon-check-empty {
  top: calc(50% - 10px);
}
#chk-error{
  font-size:11px;
  color: #cf6e6e;
}  

#termos #chk-error {
  position: absolute;
  top:-50px;
}


.accordion-group.shipping-data .btn-go-to-payment-wrapper{
  display: block!important;
}
@media screen and (max-width:736px) {
  .cart-items .product-price {
    position: static;
  }
  .new-product-price{
    position: absolute;
    right: 20px;
    width: 100px;
    bottom: 18px;
  }
  .container-cart .cart-items td.item-remove .item-link-remove {
    padding-top: 0;
  }
}