#termos, #newsletter-check {
    display: block;
    height: 30px;
    width: 315px;
    position: absolute;
    bottom: 0;
  }
  #termos *, #newsletter-check * {
    display: inline-block;
    vertical-align: top;
  }
  #termos input, #newsletter-check input {
    margin-top: 0;
    display: none;
  }
  #termos label, #newsletter-check label {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #aaa;
    position: relative;
    cursor: pointer;
    margin-right:5px;
  }
  #termos input[type="checkbox"] + label, #newsletter-check input[type="checkbox"] + label {
    content: none;
  }
  #termos input[type="checkbox"]:checked + label:before, #newsletter-check input[type="checkbox"]:checked + label:before {
    content: "";
    display: block;
    background-color: #3cdbc0;
    margin: 1px;
    width: 8px;
    height: 8px;
  }
  #termos label:after, #newsletter-check label:after {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #3cdbc0;
  }
  #termos span, #newsletter-check span {
    color: #9c9c9c;
    font-size: 10.5px;
    padding-left:5px;
    letter-spacing: 0.3px;
    max-width: 295px;
    line-height: 1.3;
  }
  #termos span a, #newsletter-check span a {
    color: #3cdbc0;
    font-size: 13.5px;
  }
  #chk-error{
    font-size:11px;
    color: #cf6e6e;
  }  

  