<footer class="footer" role="contentinfo">
    <div class="u-center">
        <div class="footer__box open">
            <div class="footer__title">
                Subscreva a nossa Newsletter
            </div>
            <div class="footer__content">
                <vtex.cmc:newsletterOptIn/>
            </div>
        </div>

        <div class="footer__box">
            <div class="footer__title">
                Apoio ao Cliente
            </div>
            <div class="footer__content">
                <ul class="footer__list">
                    <li class="footer__item footer__item--highlight">
                        <vtex.cmc:storeTel />
                    </li>
                    <li class="footer__item footer__item--highlight">
                        <vtex.cmc:storeEmail />
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__box">
            <div class="footer__title">
                Métodos de Pagamento
            </div>
            <div class="footer__content">
                <ul class="footer__list payment">
                    <li class="footer__item payment__method visa">Visa</li>
                    <li class="footer__item payment__method mastercard">Master Card</li>
                    <li class="footer__item payment__method amex">American Express</li>
                    <li class="footer__item payment__method diners">Diners</li>
                    <li class="footer__item payment__method elo">Elo</li>
                    <li class="footer__item payment__method boleto">Boleto</li>
                    <li class="footer__item payment__method bndes">BNDES</li>
                    <li class="footer__item payment__method hipercard">Hipercard</li>
                    <li class="footer__item payment__method aura">Aura</li>
                    <li class="footer__item payment__method banrisul">Banrisul</li>
                    <li class="footer__item payment__method itau">Itaú</li>
                    <li class="footer__item payment__method bradesco">Bradesco</li>
                    <li class="footer__item payment__method banco-do-brasil">Banco do Brasil</li>
                    <li class="footer__item payment__method caixa">Caixa</li>
                    <li class="footer__item payment__method hsbc">HSBC</li>
                    <li class="footer__item payment__method paypal">Paypal</li>
                    <li class="footer__item payment__method mercado-pago">Mercado Pago</li>
                    <li class="footer__item payment__method visa-electron">Visa Electron</li>
                    <li class="footer__item payment__method maestro">Maestro</li>
                    <li class="footer__item payment__method discover">Discover</li>
                    <li class="footer__item payment__method jcb">JCB</li>
                    <li class="footer__item payment__method pagseguro">PagSeguro</li>
                    <li class="footer__item payment__method deposito">deposito</li>
                    <li class="footer__item payment__method sepa">sepa</li>
                    <li class="footer__item payment__method ideal">ideal</li>
                    <li class="footer__item payment__method multibanco">multibanco</li>
                </ul>
            </div>
        </div>
        <div id="termos">
            <input type="checkbox" id="aceito-termos" name="aceito-termos" value="aceito-termos"/> 
            <label for="aceito-termos"></label>
            <span>
                Li e aceito a informação sobre a utilização dos meus dados <br/>
                pessoais apresentada na <a href="/sobre-a-health-for-you#politica-privacidade">Política de Privacidade.</a>   
                
            </span>
        </div>
        <div id="chk-error" style='display:none;'>
            <span>Por favor leia e aceite as Condições Gerais e a Política 
                    de Privacidade da Health For You antes de avançar.</span>
        </div>
    </div>
    <hr class="desktop-only" />
    <div class="u-center">
        <div class="footer__box">
            <div class="footer__title">
                Sobre Nós
            </div>
            <div class="footer__content">
                <ul class="footer__list">
                    <li class="footer__item"><a href="/sobre-a-health-for-you#quem-somos" class="footer__link">Quem Somos</a></li>
                    <li class="footer__item"><a href="/sobre-a-health-for-you#condicoes-gerais" class="footer__link">Condições Gerais</a></li>
                    <li class="footer__item"><a href="/sobre-a-health-for-you#politica-privacidade" class="footer__link">Política de Privacidade</a></li>
                    <li class="footer__item"><a href="/sobre-a-health-for-you#como-encomendar" class="footer__link">Como Encomendar</a></li>
                    <li class="footer__item"><a href="/sobre-a-health-for-you#envios-e-entregas" class="footer__link">Envios e Entregas</a></li>
                    <li class="footer__item"><a href="/sobre-a-health-for-you#pagamentos" class="footer__link">Pagamentos</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__box">
            <div class="footer__title">
                A Minha Conta
            </div>
            <div class="footer__content">
                <ul class="footer__list">
                    <li class="footer__item"><a href="/account" class="footer__link">O Meu Perfil</a></li>
                    <li class="footer__item"><a href="/account" class="footer__link">As Minhas Encomendas</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__box">
            <div class="footer__title">
                COMPRA SEGURA
            </div>
            <div class="footer__content stamp">
                <ul class="footer__list stamp__list">
                    <li class="footer__item stamp__item ebit"><vtex.cmc:seloEbit /></li>
                    <li class="footer__item stamp__item clearsale"><vtex.cmc:seloClearsale /></li>
                    <li class="footer__item stamp__item digicert"><vtex.cmc:seloDigicert /></li>
                    <li class="footer__item stamp__item site-blindado"><vtex.cmc:seloSiteBlindado /></li>
                    <li class="footer__item stamp__item lets_encrypt"><a href="https://letsencrypt.org/about/" rel="nofollow" target="_blank"><vtex.cmc:seloLetsEncrypt /></a></li>
                    <li class="footer__item stamp__item pci_certified"><a href="http://secure.vtex.com/?an=edolportugal" rel="nofollow" target="_blank"><vtex.cmc:seloPci /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="u-center">
            <vtex.cmc:storeCopyright />
            <div class="sign">
                <a href="http://www.profite.com.br" rel="nofollow" target="_blank" class="sign--profite">Profite</a>
                <a href="http://www.vtex.com/" rel="nofollow" target="_blank" class="sign--vtex">Vtex</a>
            </div>
        </div>
    </div>
</footer>
<!-- page-footer -->